@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@font-face {
    font-family: consola-nft;
    src: url(Fontes/Consolas.ttf) format('truetype');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.todos{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(45deg, #e1e1e1 0%, #f3f3f3 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.todos_after{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(45deg, #121214 0%, #29292c 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.darkMode{
    width: 80px;
    position: absolute;
    right: 2%;
    top: 3%;
    height: 40px;
    display: flex; 
    z-index: 10;
    align-items: center;
    padding: 0 10px;
    justify-content: space-between;
    border-radius: 40px;
    background-color: #008cff;
    box-shadow: inset 0 0 7px #004db2;
}

.darkMode_after{
    width: 80px;
    position: absolute;
    right: 2%;
    top: 3%;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    justify-content: space-between;
    border-radius: 40px;
    background-color: #003dca;
    box-shadow: inset 0 0 7px #002a8d;
}

#moon{
    font-size: 22px;
    color: #e7e7e7;
    text-shadow: 0 0 10px #e7e7e79a;

}

#sun{
    font-size: 22px;
    color: #ffd900;
    text-shadow: 0 0 10px #ffd9008c;
}

.ball{
    position: absolute;
    left: 0;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background-color: #1c3759;
}

.ball_after{
    position: absolute;
    left: 40px;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background-color: #eeeeee;
}

#generatePw{
    width: 400px;
    height: 330px;
    background-color: #006eff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 2% 0;
}

.header{
    position: relative;
    width: 100%;
    height: 20%;
    display: flex;
    color: #333;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    margin-bottom: 1%;
}

#pw{
    font-family: 'consola-nft';
    font-weight: 500;
    letter-spacing: 3px;
    height: 40px;
    color: #eeeeee;
    font-size: 22px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
    width: 90%;
    border: 0;
    outline: 0;
    border-radius: 4px;
    background-color: #0099ff;
    outline: none;
    box-shadow: inset 0px 0 4px #004f87c2;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.body{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.selects{
    width: 100%;
    margin-bottom: 15px;
}

.cond1 input{
    width: 19px;
    height: 19px;
    accent-color: #0098e9;
}

#tam{
    color: #333;
    width: 50px;
    font-size: 18px;
    border-radius: 4px;
    border: solid 2px #dd171700;
    background-color: #f8f8f8;
    outline: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-shadow: inset 0px 0px 5px #989898;
    height: 26px;
    padding-left: 5px;
}

#tam:focus, #tam:invalid{
    border: solid 2px #333;
}

.cond1{
    font-size: 22px;
    color: #eeeeee;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

#gerar{
    width: 100%;
    height: 40px;
    border: 0;
    border-radius: 5px;
    background-color: #0095ff;
    box-shadow: 1px 6px 0px #005cd5cf;
    font-size: 30px;
    color: #eeeeee;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: 600;
    letter-spacing: 1px;
    transition: all .1s;
}

#gerar:active{
    transition: all .1s;
    box-shadow: 1px 2px 0px #005cd5cf;
    transform: translateY(4px);
}

#copiar{
    color: #eeeeee;
    border-radius: 3px;
    font-size: 30px;
    margin-left: 5%;
    cursor: pointer;
    transition: .1s;
    position: absolute;
    right: 5.6%;
    padding: 3px;
    box-shadow: -15px 0 13px #0095ffab;
    background-color: #0095ff;

}

#copiar:hover{
    text-shadow: 0px 0px 6px #eeeeee89;
}

#copiar:active{
    transition: .1s;
    transform: scale(.90);
}

.titulo_before{
    letter-spacing: 2px;
    font-size: 30px;
    color: #00c400;
    text-shadow: 0 0 15px #00ff006c;
    position: absolute;
    opacity: 0;
    top: 10%;
}

.nivel{
    position: relative;
    width: 90%;
    opacity: 0;
    margin-bottom: 23px;
}

.barra{
    position: absolute;
    left: 0;
    z-index: 1;
    width: 0%;
    border-radius: 2px;
    height: 6px;
    background-color: #00c20000;
}

.barra2{
    position: absolute;
    left: 0;
    width: 100%;
    border-radius: 2px;
    height: 6px;
    background-color: #7a7a7ac3;
    margin-bottom: 1.5%;
}

/*===========================RESPONSIVE================================*/

@media only screen and (max-width: 410px){
    
    #generatePw{
        width: 95%;
        height: 330px;
        background-color: #006eff;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding: 2% 0;
    }

    .selects{
        width: 100%;
        margin-bottom: 15px;
    }

    #gerar{
        margin-bottom: .7rem;
    }
}